exportPattern("^[^\\.]")
useDynLib(wavethresh)
S3method(AvBasis, wst)
S3method(AvBasis, wst2D)
S3method(InvBasis, wp)
S3method(InvBasis, wst)
S3method(IsEarly, default)
S3method(IsEarly, wd)
S3method(LocalSpec, wd)
S3method(LocalSpec, wst)
S3method(MaNoVe, wp)
S3method(MaNoVe, wst)
S3method(accessC, mwd)
S3method(accessC, wd)
S3method(accessC, wp)
S3method(accessC, wst)
S3method(accessD, mwd)
S3method(accessD, wd)
S3method(accessD, wd3D)
S3method(accessD, wp)
S3method(accessD, wpst)
S3method(accessD, wst)
S3method(basisplot, BP)
S3method(basisplot, wp)
S3method(compress, default)
S3method(compress, imwd)
S3method(convert, wd)
S3method(convert, wst)
S3method(draw, default)
S3method(draw, imwd)
S3method(draw, imwdc)
S3method(draw, mwd)
S3method(draw, wd)
S3method(draw, wp)
S3method(draw, wst)
S3method(getpacket, wp)
S3method(getpacket, wpst)
S3method(getpacket, wst)
S3method(getpacket, wst2D)
S3method(image, wd)
S3method(image, wst)
S3method(imwr, imwd)
S3method(imwr, imwdc)
S3method(modernise, wd)
S3method(nlevels, default)
S3method(nullevels, imwd)
S3method(nullevels, wd)
S3method(nullevels, wst)
S3method(plot, imwd)
S3method(plot, irregwd)
S3method(plot, mwd)
S3method(plot, nvwp)
S3method(plot, wd)
S3method(plot, wp)
S3method(plot, wst)
S3method(plot, wst2D)
S3method(print, BP)
S3method(print, imwd)
S3method(print, imwdc)
S3method(print, mwd)
S3method(print, nv)
S3method(print, nvwp)
S3method(print, w2d)
S3method(print, w2m)
S3method(print, wd)
S3method(print, wd3D)
S3method(print, wp)
S3method(print, wpst)
S3method(print, wpstCL)
S3method(print, wpstDO)
S3method(print, wpstRO)
S3method(print, wst)
S3method(print, wst2D)
S3method(putC, mwd)
S3method(putC, wd)
S3method(putC, wp)
S3method(putC, wst)
S3method(putD, mwd)
S3method(putD, wd)
S3method(putD, wd3D)
S3method(putD, wp)
S3method(putD, wst)
S3method(putpacket, wp)
S3method(putpacket, wst)
S3method(putpacket, wst2D)
S3method(summary, imwd)
S3method(summary, imwdc)
S3method(summary, mwd)
S3method(summary, wd)
S3method(summary, wd3D)
S3method(summary, wp)
S3method(summary, wpst)
S3method(summary, wst)
S3method(summary, wst2D)
S3method(threshold, imwd)
S3method(threshold, imwdc)
S3method(threshold, irregwd)
S3method(threshold, mwd)
S3method(threshold, wd)
S3method(threshold, wd3D)
S3method(threshold, wp)
S3method(threshold, wst)
S3method(uncompress, default)
S3method(uncompress, imwdc)
S3method(wr, mwd)
S3method(wr, wd)
